In [16]:
import os
import pandas as pd
from bs4 import BeautifulSoup

SEASON_STATS = "data/season_stats/2012.shtml"
GAMES_DIR = "data/games/2012/ARI"

So as of now, we have the season stats for years 2012 - 2022 as well as the game results for the 2012 season. I want to ensure the system for processing the data is working
before moving past a single season, so we will investigate the 2012 MLB season and then scale.

My files are saved as html, so we will use the packages, Beautiful Soup and Pandas, to get our tables out of the html and into nice csv files.

In [12]:
#Start with parsing through 2012 season stats
Season_stats = open(SEASON_STATS, 'r')

soup = BeautifulSoup(Season_stats)
#print(soup.prettify())

In [13]:
#Lets try to read out html file in pandas

season_stats_tables = pd.read_html(SEASON_STATS)

In [14]:
ss_table1 = season_stats_tables[0] #Postseason
ss_table2 = season_stats_tables[1] #Batting
ss_table3 = season_stats_tables[2] #Pitching
ss_table4 = season_stats_tables[3] #Wins Above
ss_table5 = season_stats_tables[4] #Fielding

In [15]:
ss_table1

                    0    1                                              2
0        World Series  4-0       San Francisco Giants over Detroit Tigers
1                ALCS  4-0           Detroit Tigers over New York Yankees
2                NLCS  4-3  San Francisco Giants over St. Louis Cardinals
3  AL Division Series  3-2        New York Yankees over Baltimore Orioles
4  AL Division Series  3-2          Detroit Tigers over Oakland Athletics
5  NL Division Series  3-2  St. Louis Cardinals over Washington Nationals
6  NL Division Series  3-2      San Francisco Giants over Cincinnati Reds
7      Wild Card Game  1-0           Baltimore Orioles over Texas Rangers
8      Wild Card Game  1-0        St. Louis Cardinals over Atlanta Braves

In [18]:
#Lets try to read out html file in pandas

team_games_tables = pd.read_html(GAMES_DIR)

In [31]:
team_games_tables[4]

,Gm#,Date,Unnamed: 2,Tm,Unnamed: 4,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
0,1,"Friday, Apr 6",boxscore,ARI,NaN,SFG,W,5,4,NaN,...,0.5,Kennedy,Lincecum,Putz,2:53,D,49130,1.04,+,NaN
1,2,"Saturday, Apr 7",boxscore,ARI,NaN,SFG,W,5,4,NaN,...,0.5,Hudson,Bumgarner,Putz,2:36,D,34789,1.11,++,NaN
2,3,"Sunday, Apr 8",boxscore,ARI,NaN,SFG,W,7,6,NaN,...,up 0.5,Miley,Affeldt,Shaw,3:08,D,24193,1.16,+++,NaN
3,4,"Tuesday, Apr 10",boxscore,ARI,@,SDP,W,4,2,11,...,up 0.5,Breslow,Owings,Putz,3:28,N,18652,1.20,++++,NaN
4,5,"Wednesday, Apr 11",boxscore,ARI,@,SDP,L,1,2,NaN,...,0.5,Frieri,Hernandez,Street,2:58,D,16091,1.19,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Gm#,October,NaN,Tm,NaN,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
165,160,"Monday, Oct 1",boxscore,ARI,NaN,COL,L,5,7,13,...,13.0,Outman,Bergesen,Roenicke,4:14,N,24123,.00,--,NaN
166,161,"Tuesday, Oct 2",boxscore,ARI,NaN,COL,W-wo,5,3,NaN,...,13.0,Ziegler,Betancourt,NaN,2:51,N,22466,.00,+,NaN
167,162,"Wednesday, Oct 3",boxscore,ARI,NaN,COL,L,1,2,NaN,...,13.0,Francis,Kennedy,Belisle,3:16,D,24344,.00,-,NaN
168,Gm#,Date,NaN,Tm,NaN,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled

In [32]:
team_table1 = team_games_tables[0] #Season Summary
team_table2 = team_games_tables[1] #W/L Splits
team_table3 = team_games_tables[2] # Season half splits
team_table4 = team_games_tables[3] #Opponent Splits
team_table5 = team_games_tables[4] #Games

So we have extracted all the data we want from these two files, and now we need to write a script to write it to a csv, so we can build our system.

In [35]:
#Write to csv
team_table5.to_csv("games_table.csv")