In [4]:
import pandas as pd

In [5]:
file_string_1 = "data/TEAM_SEASONS/TOTAL_TEAM_SEASONS_2012-2022.csv"
df1 = pd.read_csv(file_string_1) 
df1

,y-m-d,GameID,Time_Min,Team,Opp,R,RA,total_wins,total_losses,Total_Innings,Walkoff,Streaks,Rank,GB,Attendance,champ_lev_index,is_day_game,is_night_game,Outcome
0,2012-04-06,1,173,ARI,SFG,5,4,1,0,9,0,1,2,-0.5,49130.0,1.04,1,0,1
1,2012-04-07,2,156,ARI,SFG,5,4,2,0,9,0,2,2,-0.5,34789.0,1.11,1,0,1
2,2012-04-08,3,188,ARI,SFG,7,6,3,0,9,0,3,1,0.5,24193.0,1.16,1,0,1
3,2012-04-10,4,208,ARI,SDP,4,2,4,0,11,0,4,1,0.5,18652.0,1.20,0,1,1
4,2012-04-11,5,178,ARI,SDP,1,2,4,1,9,0,-1,2,-0.5,16091.0,1.19,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50385,2022-10-01,158,169,WSN,PHI,2,8,55,103,9,0,-1,5,-44.0,36841.0,0.00,0,1,0
50386,2022-10-02,159,140,WSN,PHI,1,8,55,104,6,0,-2,5,-45.0,32779.0,0.00,1,0,0
50387,2022-10-04,160,192,WSN,NYM,2,4,55,105,9,0,-3,5,-46.0,NaN,0.00,0,1,0
50388,2022-10-04,161,189,WSN,NYM,0,8,55,106,9,0,-4,5,-46.0,23649.0,0.00,0,1,0
50389,2022-10-05,162,164,WSN,NYM,2,9,55,107,9,0,-5,5,-46.0,27298.0,0.00,1,0,0

In [6]:
df1.shape

(50390, 19)

In [7]:
df1['Team'].value_counts()

CHC    1681
LAD    1681
TEX    1681
TBR    1681
MIL    1681
BOS    1680
KCR    1680
LAA    1680
HOU    1680
COL    1680
MIN    1680
BAL    1680
CIN    1680
ARI    1680
TOR    1680
SEA    1680
SDP    1680
SFG    1680
PHI    1680
OAK    1680
NYM    1680
NYY    1680
WSN    1680
PIT    1679
CHW    1679
ATL    1678
MIA    1678
CLE    1678
STL    1678
DET    1675
Name: Team, dtype: int64

In [8]:
df1.dtypes

y-m-d               object
GameID               int64
Time_Min             int64
Team                object
Opp                 object
R                    int64
RA                   int64
total_wins           int64
total_losses         int64
Total_Innings        int64
Walkoff              int64
Streaks              int64
Rank                 int64
GB                 float64
Attendance         float64
champ_lev_index    float64
is_day_game          int64
is_night_game        int64
Outcome              int64
dtype: object

In [9]:
df1["y-m-d"] = pd.to_datetime(df1["y-m-d"])

In [10]:
df1.dtypes

y-m-d              datetime64[ns]
GameID                      int64
Time_Min                    int64
Team                       object
Opp                        object
R                           int64
RA                          int64
total_wins                  int64
total_losses                int64
Total_Innings               int64
Walkoff                     int64
Streaks                     int64
Rank                        int64
GB                        float64
Attendance                float64
champ_lev_index           float64
is_day_game                 int64
is_night_game               int64
Outcome                     int64
dtype: object

In [11]:
df1["opp_code"] = df1["Opp"].astype("category").cat.codes

In [12]:
df1["day_code"] = df1["y-m-d"].dt.dayofweek

In [66]:
df1["champ_lev_index"] = df1['champ_lev_index'].fillna('0')

In [67]:
df1

,y-m-d,GameID,Time_Min,Team,Opp,R,RA,total_wins,total_losses,Total_Innings,...,Streaks,Rank,GB,Attendance,champ_lev_index,is_day_game,is_night_game,Outcome,opp_code,day_code
0,2012-04-06,1,173,ARI,SFG,5,4,1,0,9,...,1,2,-0.5,49130.0,1.04,1,0,1,24,4
1,2012-04-07,2,156,ARI,SFG,5,4,2,0,9,...,2,2,-0.5,34789.0,1.11,1,0,1,24,5
2,2012-04-08,3,188,ARI,SFG,7,6,3,0,9,...,3,1,0.5,24193.0,1.16,1,0,1,24,6
3,2012-04-10,4,208,ARI,SDP,4,2,4,0,11,...,4,1,0.5,18652.0,1.2,0,1,1,22,1
4,2012-04-11,5,178,ARI,SDP,1,2,4,1,9,...,-1,2,-0.5,16091.0,1.19,1,0,0,22,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50385,2022-10-01,158,169,WSN,PHI,2,8,55,103,9,...,-1,5,-44.0,36841.0,0.0,0,1,0,20,5
50386,2022-10-02,159,140,WSN,PHI,1,8,55,104,6,...,-2,5,-45.0,32779.0,0.0,1,0,0,20,6
50387,2022-10-04,160,192,WSN,NYM,2,4,55,105,9,...,-3,5,-46.0,NaN,0.0,0,1,0,17,1
50388,2022-10-04,161,189,WSN,NYM,0,8,55,106,9,...,-4,5,-46.0,23649.0,0.0,0,1,0,17,1
50389,2022-10-05,162,164,WSN,NYM,2,9,55,107,9,...,-5,5,-46.0,27298.0,0.0,1,0,0,17,2

In [68]:
from sklearn.ensemble import RandomForestClassifier

In [69]:
rf = RandomForestClassifier(n_estimators=1000, min_samples_split=50, random_state=1)

In [90]:
train = df1[df1["y-m-d"] < '2020-01-01']

In [91]:
test = df1[df1["y-m-d"] > '2020-01-01']

In [92]:
predictors = ["opp_code", "is_day_game", "day_code","Rank", "champ_lev_index", "day_code"]

In [93]:
rf.fit(train[predictors], train["Outcome"])

RandomForestClassifier(min_samples_split=50, n_estimators=1000, random_state=1)

In [94]:
preds = rf.predict(test[predictors])

In [95]:
from sklearn.metrics import accuracy_score

In [96]:
error = accuracy_score(test["Outcome"], preds)
error

0.5838978634705576

In [97]:
combined = pd.DataFrame(dict(actual=test["Outcome"], predicted=preds))

In [98]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted     0     1
actual
0          3151  2606
1          2185  3572

In [99]:
from sklearn.metrics import precision_score

precision_score(test["Outcome"], preds)

0.5781806409841372