In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup

So as of now, we have the season stats for years 2012 - 2022 as well as the game results for the 2012 season. I want to ensure the system for processing the data is working
before moving past a single season, so we will investigate the 2012 MLB season and then scale.

My files are saved as html, so we will use the packages, Beautiful Soup and Pandas, to get our tables out of the html and into nice csv files.

In [12]:
#Start with parsing through 2012 season stats
Season_stats = open(SEASON_STATS, 'r')

soup = BeautifulSoup(Season_stats)
#print(soup.prettify())

In [13]:
#Lets try to read out html file in pandas

season_stats_tables = pd.read_html(SEASON_STATS)

In [14]:
ss_table1 = season_stats_tables[0] #Postseason
ss_table2 = season_stats_tables[1] #Batting
ss_table3 = season_stats_tables[2] #Pitching
ss_table4 = season_stats_tables[3] #Wins Above
ss_table5 = season_stats_tables[4] #Fielding

In [15]:
ss_table1

                    0    1                                              2
0        World Series  4-0       San Francisco Giants over Detroit Tigers
1                ALCS  4-0           Detroit Tigers over New York Yankees
2                NLCS  4-3  San Francisco Giants over St. Louis Cardinals
3  AL Division Series  3-2        New York Yankees over Baltimore Orioles
4  AL Division Series  3-2          Detroit Tigers over Oakland Athletics
5  NL Division Series  3-2  St. Louis Cardinals over Washington Nationals
6  NL Division Series  3-2      San Francisco Giants over Cincinnati Reds
7      Wild Card Game  1-0           Baltimore Orioles over Texas Rangers
8      Wild Card Game  1-0        St. Louis Cardinals over Atlanta Braves

In [18]:
#Lets try to read out html file in pandas

team_games_tables = pd.read_html(GAMES_DIR)

In [31]:
team_games_tables[4]

,Gm#,Date,Unnamed: 2,Tm,Unnamed: 4,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
0,1,"Friday, Apr 6",boxscore,ARI,NaN,SFG,W,5,4,NaN,...,0.5,Kennedy,Lincecum,Putz,2:53,D,49130,1.04,+,NaN
1,2,"Saturday, Apr 7",boxscore,ARI,NaN,SFG,W,5,4,NaN,...,0.5,Hudson,Bumgarner,Putz,2:36,D,34789,1.11,++,NaN
2,3,"Sunday, Apr 8",boxscore,ARI,NaN,SFG,W,7,6,NaN,...,up 0.5,Miley,Affeldt,Shaw,3:08,D,24193,1.16,+++,NaN
3,4,"Tuesday, Apr 10",boxscore,ARI,@,SDP,W,4,2,11,...,up 0.5,Breslow,Owings,Putz,3:28,N,18652,1.20,++++,NaN
4,5,"Wednesday, Apr 11",boxscore,ARI,@,SDP,L,1,2,NaN,...,0.5,Frieri,Hernandez,Street,2:58,D,16091,1.19,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Gm#,October,NaN,Tm,NaN,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
165,160,"Monday, Oct 1",boxscore,ARI,NaN,COL,L,5,7,13,...,13.0,Outman,Bergesen,Roenicke,4:14,N,24123,.00,--,NaN
166,161,"Tuesday, Oct 2",boxscore,ARI,NaN,COL,W-wo,5,3,NaN,...,13.0,Ziegler,Betancourt,NaN,2:51,N,22466,.00,+,NaN
167,162,"Wednesday, Oct 3",boxscore,ARI,NaN,COL,L,1,2,NaN,...,13.0,Francis,Kennedy,Belisle,3:16,D,24344,.00,-,NaN
168,Gm#,Date,NaN,Tm,NaN,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled

In [32]:
team_table1 = team_games_tables[0] #Season Summary
team_table2 = team_games_tables[1] #W/L Splits
team_table3 = team_games_tables[2] # Season half splits
team_table4 = team_games_tables[3] #Opponent Splits
team_table5 = team_games_tables[4] #Games

So we have extracted all the data we want from these two files, and now we need to write a script to write it to a csv, so we can build our system.

In [35]:
#Write to csv
team_table5.to_csv("games_table.csv")

Now that we've identified how to turn the tables we want from our html files in csv files for easy use, we can write a script to automate the process and go through the large amount of data we have.

Firstly, lets go through our season stats folder to get each season individual csv files

In [5]:
TEAM_STATS_PATH = "data/season_stats/"
TEAM_STATS_SAVE_PATH = "data/TEAM_STATS/"
YEARS = list(range(2012, 2023))

#Now lets loop through each file and convert it
#year = 2012

def Extract_Data_Tables(year):
    FILE_NAME = f"{TEAM_STATS_PATH}{year}.shtml"
    season_stats_df = pd.read_html(FILE_NAME)
    
    ss_table1 = season_stats_df[0] #Postseason
    ss_table2 = season_stats_df[1] #Batting
    ss_table3 = season_stats_df[2] #Pitching
    ss_table4 = season_stats_df[3] #Wins Above
    ss_table5 = season_stats_df[4] #Fielding
    
    #save path
    table_path_1 = f"{TEAM_STATS_SAVE_PATH}{year}_postseason.csv"
    table_path_2 = f"{TEAM_STATS_SAVE_PATH}{year}_batting.csv"
    table_path_3 = f"{TEAM_STATS_SAVE_PATH}{year}_pitching.csv"
    table_path_4 = f"{TEAM_STATS_SAVE_PATH}{year}_wins_above.csv"
    table_path_5 = f"{TEAM_STATS_SAVE_PATH}{year}_fielding.csv"
    
    #Write to csv
    ss_table1.to_csv(table_path_1)
    ss_table2.to_csv(table_path_2)
    ss_table3.to_csv(table_path_3)
    ss_table4.to_csv(table_path_4)
    ss_table5.to_csv(table_path_5)

In [6]:
for year in YEARS:
    Extract_Data_Tables(year)

So now we 55 files for the 11 seasons of data with 5 tables that we got from our web scrape.

In [18]:
batting = pd.read_csv("data/TEAM_STATS/2012_batting.csv")
pitching = pd.read_csv("data/TEAM_STATS/2012_pitching.csv")
fielding = pd.read_csv("data/TEAM_STATS/2012_fielding.csv")  
wins_above = pd.read_csv("data/TEAM_STATS/2012_wins_above.csv")

In [21]:
#Clean some of the rows off

del batting['Unnamed: 0']
del pitching['Unnamed: 0']
del fielding['Unnamed: 0']
del wins_above['Unnamed: 0']

In [22]:
print(batting.shape)
print(pitching.shape)
print(fielding.shape)
print(wins_above.shape)

(33, 29)
(33, 36)
(33, 19)
(32, 17)

In [23]:
print(list(batting.columns))
print(list(pitching.columns))
print(list(fielding.columns))
print(list(wins_above.columns))

['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB']
['Tm', '#P', 'PAge', 'RA/G', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF', 'CG', 'tSho', 'cSho', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'LOB']
['Tm', '#Fld', 'RA/G', 'DefEff', 'G', 'GS', 'CG', 'Inn', 'Ch', 'PO', 'A', 'E', 'DP', 'Fld%', 'Rtot', 'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood']
['Rk', 'Total', 'All P', 'SP', 'RP', 'Non-P', 'C', '1B', '2B', '3B', 'SS', 'LF', 'CF', 'RF', 'OF (All)', 'DH', 'PH']

In [28]:
#We need to rename the columns that have the same name in other tables so that they have unqiue value
batting['players_used'] = batting['#Bat']
batting['runs_scored'] = batting['R']

In [30]:
del batting['#Bat']
del batting['R']

In [33]:
batting.columns

Index(['Tm', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'H', '2B', '3B', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'LOB', 'players_used', 'runs_scored'],
      dtype='object')

In [35]:
batting = batting[['Tm', 'players_used', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'runs_scored', 'H', '2B', '3B', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'LOB']]

In [46]:
list(batting.columns)

['Tm',
 'players_used',
 'BatAge',
 'R/G',
 'G',
 'PA',
 'AB',
 'runs_scored',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'BA',
 'OBP',
 'SLG',
 'OPS',
 'OPS+',
 'TB',
 'GDP',
 'HBP',
 'SH',
 'SF',
 'IBB',
 'LOB']

In [42]:
pitching.columns

Index(['Tm', '#P', 'PAge', 'RA/G', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF',
       'CG', 'tSho', 'cSho', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'SO', 'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9',
       'BB9', 'SO9', 'SO/W', 'LOB', 'pitchers_used', 'runs_allowed'],
      dtype='object')

In [43]:
pitching['pitchers_used'] = pitching['#P']
pitching['runs_allowed'] = pitching['R']
pitching['hits_allowed'] = pitching['H']
pitching['hr_allowed'] = pitching['HR']
pitching['walks_allowed'] = pitching['BB']
pitching['int_wlk_allowed'] = pitching['IBB']
pitching['hbp_allowed'] = pitching['HBP']
pitching['pitch_so'] = pitching['SO']
pitching['pitch_LOB'] = pitching['LOB']

In [45]:
del pitching['#P']
del pitching['R']
del pitching['H']
del pitching['HR']
del pitching['BB']
del pitching['IBB']
del pitching['HBP']
del pitching['SO']
del pitching['LOB']

In [48]:
del pitching['G']

In [49]:
pitching.columns

Index(['Tm', 'PAge', 'RA/G', 'W', 'L', 'W-L%', 'ERA', 'GS', 'GF', 'CG', 'tSho',
       'cSho', 'SV', 'IP', 'ER', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9',
       'HR9', 'BB9', 'SO9', 'SO/W', 'pitchers_used', 'runs_allowed',
       'hits_allowed', 'hr_allowed', 'walks_allowed', 'int_wlk_allowed',
       'hbp_allowed', 'pitch_so', 'pitch_LOB'],
      dtype='object')

In [50]:
merged_data = pd.merge(batting, pitching, how='inner', on='Tm')

In [51]:
merged_data

,Tm,players_used,BatAge,R/G,G,PA,AB,runs_scored,H,2B,...,SO/W,pitchers_used,runs_allowed,hits_allowed,hr_allowed,walks_allowed,int_wlk_allowed,hbp_allowed,pitch_so,pitch_LOB
0,Arizona Diamondbacks,48,28.3,4.53,162,6150,5462,734,1416,307,...,2.88,23,688,1432,155,417,18,51,1200,1074
1,Atlanta Braves,41,28.4,4.32,162,6126,5425,700,1341,263,...,2.66,21,600,1310,145,464,40,41,1232,1055
2,Baltimore Orioles,52,28.0,4.40,162,6160,5560,712,1375,270,...,2.45,26,705,1433,184,481,36,53,1177,1124
3,Boston Red Sox,56,29.4,4.53,162,6166,5604,734,1459,339,...,2.22,26,806,1449,190,529,33,66,1176,1074
4,Chicago Cubs,53,27.8,3.78,162,5967,5411,613,1297,265,...,1.97,30,759,1399,175,573,36,65,1128,1140
5,Chicago White Sox,45,30.0,4.62,162,6111,5518,748,1409,228,...,2.48,25,676,1365,186,503,29,68,1246,1085
6,Cincinnati Reds,38,28.8,4.13,162,6115,5477,669,1377,296,...,2.92,17,588,1356,152,427,33,51,1248,1109
7,Cleveland Indians,48,27.8,4.12,162,6195,5525,667,1385,266,...,2.00,24,845,1503,174,543,27,55,1086,1112
8,Colorado Rockies,49,28.0,4.68,162,6183,5577,758,1526,306,...,2.02,27,890,1637,198,566,61,47,1144,1228
9,Detroit Tigers,47,27.9,4.48,162,6119,5476,726,1467,279,...,3.01,23,670,1409,151,438,35,42,1318,1083
10,Houston Astros,50,26.6,3.60,162,6014,5407,583,1276,238,...,2.17,26,794,1493,173,540,40,48,1170,1174
11,Kansas City Royals,46,26.1,4.17,162,6149,5636,676,1492,295,...,2.17,25,746,1504,163,542,44,60,1177,1151
12,Los Angeles Angels of Anaheim,44,28.7,4.73,162,6121,5536,767,1518,273,...,2.40,23,699,1339,186,483,20,40,1157,1035
13,Los Angeles Dodgers,50,30.4,3.93,162,6091,5438,637,1369,269,...,2.37,25,597,1277,122,539,62,45,1276,1122
14,Miami Marlins,45,28.3,3.76,162,6057,5437,609,1327,261,...,2.25,21,724,1448,133,495,61,55,1113,1140
15,Milwaukee Brewers,46,29.1,4.79,162,6225,5557,776,1442,300,...,2.67,23,733,1458,169,525,20,31,1402,1151
16,Minnesota Twins,47,28.8,4.33,162,6209,5562,701,1448,270,...,2.03,25,832,1536,198,465,43,57,943,1066
17,New York Mets,49,27.9,4.01,162,6091,5450,650,1357,286,...,2.54,28,709,1368,161,488,29,40,1240,1075
18,New York Yankees,45,32.9,4.96,162,6231,5524,804,1462,280,...,3.06,24,668,1401,190,431,32,49,1318,1081
19,Oakland Athletics,50,27.7,4.40,162,6183,5527,713,1315,267,...,2.46,25,614,1360,147,462,34,46,1136,1107
20,Philadelphia Phillies,49,31.1,4.22,162,6172,5544,684,1414,271,...,3.39,24,680,1387,178,409,33,44,1385,1038
21,Pittsburgh Pirates,49,27.7,4.02,162,6014,5412,651,1313,241,...,2.43,25,674,1357,153,490,30,45,1192,1123
22,San Diego Padres,53,27.4,4.02,162,6112,5422,651,1339,272,...,2.24,30,710,1356,162,539,48,48,1205,1137
23,Seattle Mariners,38,27.1,3.82,162,6057,5494,619,1285,241,...,2.60,18,651,1359,166,449,39,49,1166,1039
24,San Francisco Giants,45,27.8,4.43,162,6200,5558,718,1495,287,...,2.53,23,649,1361,142,489,42,51,1237,1136
25,St. Louis Cardinals,45,29.2,4.72,162,6326,5622,765,1526,290,...,2.79,24,648,1420,134,436,28,50,1218,1122
26,Tampa Bay Rays,43,29.7,4.30,162,6105,5398,697,1293,250,...,2.95,18,577,1233,139,469,35,54,1383,1044
27,Texas Rangers,39,29.7,4.99,162,6216,5590,808,1526,303,...,2.88,21,707,1378,175,446,15,41,1286,1034
28,Toronto Blue Jays,54,27.8,4.42,162,6094,5487,716,1346,247,...,1.99,34,784,1439,204,574,20,55,1142,1101
29,Washington Nationals,43,27.2,4.51,162,6221,5615,731,1468,301,...,2.67,19,594,1296,129,497,32,47,1325,1134
30,League Average,43,28.5,4.32,162,6139,5508,701,1402,275,...,2.48,22,701,1402,164,490,35,50,1214,1103
31,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SO/W,#P,R,H,HR,BB,IBB,HBP,SO,LOB
32,NaN,1284,28.5,4.32,4860,184180,165251,21017,42063,8261,...,2.48,662,21017,42063,4934,14709,1055,1494,36426,33094

In [52]:
fielding.columns

Index(['Tm', '#Fld', 'RA/G', 'DefEff', 'G', 'GS', 'CG', 'Inn', 'Ch', 'PO', 'A',
       'E', 'DP', 'Fld%', 'Rtot', 'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood'],
      dtype='object')

In [53]:
del fielding['G']
del fielding['GS']
del fielding['CG']
del fielding['Inn']

In [55]:
fielding['def_chances'] = fielding['Ch']

In [56]:
del fielding['Ch']

In [57]:
fielding.columns

Index(['Tm', '#Fld', 'RA/G', 'DefEff', 'PO', 'A', 'E', 'DP', 'Fld%', 'Rtot',
       'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood', 'def_chances'],
      dtype='object')

In [58]:
merged_data = pd.merge(merged_data, fielding, how='inner', on='Tm')

In [60]:
merged_data

,Tm,players_used,BatAge,R/G,G,PA,AB,runs_scored,H,2B,...,A,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,def_chances
0,Arizona Diamondbacks,48,28.3,4.53,162,6150,5462,734,1416,307,...,1676,90,146,.985,-15,-1,NaN,0,6,6067
1,Atlanta Braves,41,28.4,4.32,162,6126,5425,700,1341,263,...,1654,86,147,.986,101,9,NaN,1,11,6076
2,Baltimore Orioles,52,28.0,4.40,162,6160,5560,712,1375,270,...,1680,106,151,.983,20,2,NaN,0,-6,6235
3,Boston Red Sox,56,29.4,4.53,162,6166,5604,734,1459,339,...,1687,101,159,.983,44,4,NaN,1,4,6117
4,Chicago Cubs,53,27.8,3.78,162,5967,5411,613,1297,265,...,1583,105,148,.982,12,1,NaN,-1,-9,5929
5,Chicago White Sox,45,30.0,4.62,162,6111,5518,748,1409,228,...,1578,70,154,.988,55,5,NaN,0,-9,5985
6,Cincinnati Reds,38,28.8,4.13,162,6115,5477,669,1377,296,...,1602,89,113,.985,23,2,NaN,1,8,6050
7,Cleveland Indians,48,27.8,4.12,162,6195,5525,667,1385,266,...,1665,96,157,.984,-20,-2,NaN,-1,-9,6087
8,Colorado Rockies,49,28.0,4.68,162,6183,5577,758,1526,306,...,1718,122,139,.980,-58,-5,NaN,-2,-24,6106
9,Detroit Tigers,47,27.9,4.48,162,6119,5476,726,1467,279,...,1481,99,127,.983,-59,-5,NaN,-1,0,5872
10,Houston Astros,50,26.6,3.60,162,6014,5407,583,1276,238,...,1729,118,132,.981,-67,-6,NaN,-1,-9,6117
11,Kansas City Royals,46,26.1,4.17,162,6149,5636,676,1492,295,...,1624,113,171,.981,-43,-4,NaN,0,11,6091
12,Los Angeles Angels of Anaheim,44,28.7,4.73,162,6121,5536,767,1518,273,...,1578,98,141,.984,36,3,NaN,4,23,5976
13,Los Angeles Dodgers,50,30.4,3.93,162,6091,5438,637,1369,269,...,1669,98,138,.984,10,1,NaN,0,2,6116
14,Miami Marlins,45,28.3,3.76,162,6057,5437,609,1327,261,...,1649,103,154,.983,2,0,NaN,-1,-10,6074
15,Milwaukee Brewers,46,29.1,4.79,162,6225,5557,776,1442,300,...,1532,99,133,.983,-26,-2,NaN,0,5,5992
16,Minnesota Twins,47,28.8,4.33,162,6209,5562,701,1448,270,...,1784,107,188,.983,-20,-2,NaN,0,0,6207
17,New York Mets,49,27.9,4.01,162,6091,5450,650,1357,286,...,1502,101,135,.983,-5,0,NaN,-1,-6,5905
18,New York Yankees,45,32.9,4.96,162,6231,5524,804,1462,280,...,1471,75,135,.987,-17,-2,NaN,0,5,5882
19,Oakland Athletics,50,27.7,4.40,162,6183,5527,713,1315,267,...,1568,111,135,.982,23,2,NaN,0,4,6089
20,Philadelphia Phillies,49,31.1,4.22,162,6172,5544,684,1414,271,...,1560,101,118,.983,-27,-2,NaN,0,12,6015
21,Pittsburgh Pirates,49,27.7,4.02,162,6014,5412,651,1313,241,...,1656,112,126,.982,-20,-2,NaN,-4,-10,6068
22,San Diego Padres,53,27.4,4.02,162,6112,5422,651,1339,272,...,1655,121,97,.980,-32,-3,NaN,-3,1,6080
23,Seattle Mariners,38,27.1,3.82,162,6057,5494,619,1285,241,...,1570,72,155,.988,1,0,NaN,0,-1,6012
24,San Francisco Giants,45,27.8,4.43,162,6200,5558,718,1495,287,...,1639,115,134,.981,-7,-1,NaN,0,-6,6107
25,St. Louis Cardinals,45,29.2,4.72,162,6326,5622,765,1526,290,...,1754,107,149,.983,-6,-1,NaN,2,5,6249
26,Tampa Bay Rays,43,29.7,4.30,162,6105,5398,697,1293,250,...,1641,114,155,.981,-3,0,NaN,1,-3,6134
27,Texas Rangers,39,29.7,4.99,162,6216,5590,808,1526,303,...,1496,85,136,.986,9,1,NaN,0,-4,5907
28,Toronto Blue Jays,54,27.8,4.42,162,6094,5487,716,1346,247,...,1737,101,167,.984,72,7,NaN,1,5,6169
29,Washington Nationals,43,27.2,4.51,162,6221,5615,731,1468,301,...,1632,94,134,.985,38,3,NaN,0,-2,6131
30,League Average,43,28.5,4.32,162,6139,5508,701,1402,275,...,1626,100,142,.983,1,0,NaN,0,0,6062
31,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,A,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,Ch
32,NaN,1284,28.5,4.32,4860,184180,165251,21017,42063,8261,...,48770,3009,4274,.983,23,0,NaN,0,9,181845

In [61]:
copy_date = merged_data.copy()

In [88]:
copy_date.iloc[31]['Tm']

nan

In [89]:
copy_date.at[32, 'Tm'] = "Totals"

In [90]:
copy_date

,Tm,players_used,BatAge,R/G,G,PA,AB,runs_scored,H,2B,...,A,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,def_chances
0,Arizona Diamondbacks,48,28.3,4.53,162,6150,5462,734,1416,307,...,1676,90,146,.985,-15,-1,NaN,0,6,6067
1,Atlanta Braves,41,28.4,4.32,162,6126,5425,700,1341,263,...,1654,86,147,.986,101,9,NaN,1,11,6076
2,Baltimore Orioles,52,28.0,4.40,162,6160,5560,712,1375,270,...,1680,106,151,.983,20,2,NaN,0,-6,6235
3,Boston Red Sox,56,29.4,4.53,162,6166,5604,734,1459,339,...,1687,101,159,.983,44,4,NaN,1,4,6117
4,Chicago Cubs,53,27.8,3.78,162,5967,5411,613,1297,265,...,1583,105,148,.982,12,1,NaN,-1,-9,5929
5,Chicago White Sox,45,30.0,4.62,162,6111,5518,748,1409,228,...,1578,70,154,.988,55,5,NaN,0,-9,5985
6,Cincinnati Reds,38,28.8,4.13,162,6115,5477,669,1377,296,...,1602,89,113,.985,23,2,NaN,1,8,6050
7,Cleveland Indians,48,27.8,4.12,162,6195,5525,667,1385,266,...,1665,96,157,.984,-20,-2,NaN,-1,-9,6087
8,Colorado Rockies,49,28.0,4.68,162,6183,5577,758,1526,306,...,1718,122,139,.980,-58,-5,NaN,-2,-24,6106
9,Detroit Tigers,47,27.9,4.48,162,6119,5476,726,1467,279,...,1481,99,127,.983,-59,-5,NaN,-1,0,5872
10,Houston Astros,50,26.6,3.60,162,6014,5407,583,1276,238,...,1729,118,132,.981,-67,-6,NaN,-1,-9,6117
11,Kansas City Royals,46,26.1,4.17,162,6149,5636,676,1492,295,...,1624,113,171,.981,-43,-4,NaN,0,11,6091
12,Los Angeles Angels of Anaheim,44,28.7,4.73,162,6121,5536,767,1518,273,...,1578,98,141,.984,36,3,NaN,4,23,5976
13,Los Angeles Dodgers,50,30.4,3.93,162,6091,5438,637,1369,269,...,1669,98,138,.984,10,1,NaN,0,2,6116
14,Miami Marlins,45,28.3,3.76,162,6057,5437,609,1327,261,...,1649,103,154,.983,2,0,NaN,-1,-10,6074
15,Milwaukee Brewers,46,29.1,4.79,162,6225,5557,776,1442,300,...,1532,99,133,.983,-26,-2,NaN,0,5,5992
16,Minnesota Twins,47,28.8,4.33,162,6209,5562,701,1448,270,...,1784,107,188,.983,-20,-2,NaN,0,0,6207
17,New York Mets,49,27.9,4.01,162,6091,5450,650,1357,286,...,1502,101,135,.983,-5,0,NaN,-1,-6,5905
18,New York Yankees,45,32.9,4.96,162,6231,5524,804,1462,280,...,1471,75,135,.987,-17,-2,NaN,0,5,5882
19,Oakland Athletics,50,27.7,4.40,162,6183,5527,713,1315,267,...,1568,111,135,.982,23,2,NaN,0,4,6089
20,Philadelphia Phillies,49,31.1,4.22,162,6172,5544,684,1414,271,...,1560,101,118,.983,-27,-2,NaN,0,12,6015
21,Pittsburgh Pirates,49,27.7,4.02,162,6014,5412,651,1313,241,...,1656,112,126,.982,-20,-2,NaN,-4,-10,6068
22,San Diego Padres,53,27.4,4.02,162,6112,5422,651,1339,272,...,1655,121,97,.980,-32,-3,NaN,-3,1,6080
23,Seattle Mariners,38,27.1,3.82,162,6057,5494,619,1285,241,...,1570,72,155,.988,1,0,NaN,0,-1,6012
24,San Francisco Giants,45,27.8,4.43,162,6200,5558,718,1495,287,...,1639,115,134,.981,-7,-1,NaN,0,-6,6107
25,St. Louis Cardinals,45,29.2,4.72,162,6326,5622,765,1526,290,...,1754,107,149,.983,-6,-1,NaN,2,5,6249
26,Tampa Bay Rays,43,29.7,4.30,162,6105,5398,697,1293,250,...,1641,114,155,.981,-3,0,NaN,1,-3,6134
27,Texas Rangers,39,29.7,4.99,162,6216,5590,808,1526,303,...,1496,85,136,.986,9,1,NaN,0,-4,5907
28,Toronto Blue Jays,54,27.8,4.42,162,6094,5487,716,1346,247,...,1737,101,167,.984,72,7,NaN,1,5,6169
29,Washington Nationals,43,27.2,4.51,162,6221,5615,731,1468,301,...,1632,94,134,.985,38,3,NaN,0,-2,6131
30,League Average,43,28.5,4.32,162,6139,5508,701,1402,275,...,1626,100,142,.983,1,0,NaN,0,0,6062
32,Totals,1284,28.5,4.32,4860,184180,165251,21017,42063,8261,...,48770,3009,4274,.983,23,0,NaN,0,9,181845

In [65]:
copy_date = copy_date.drop([31])

In [67]:
copy_date.to_csv("data/2012_stats.csv", index=False)

So now that we have figured out hwo we want to make our stat datasets, we can write a program and pass each file through it

In [93]:
#Function to process each of the season stat files

def Process_Stat_Files(year):
    #Initialize Files
    b_file = f"data/TEAM_STATS/{year}_batting.csv"
    p_file = f"data/TEAM_STATS/{year}_pitching.csv"
    f_file = f"data/TEAM_STATS/{year}_fielding.csv"
    s_file = f"data/FULL_TEAM_DATA/{year}_full_stats.csv"

    #Perform batting clean
    batting = pd.read_csv(b_file)

    batting['players_used'] = batting['#Bat']
    batting['runs_scored'] = batting['R']

    del batting['Unnamed: 0']
    del batting['#Bat']
    del batting['R']

    batting = batting[['Tm', 'players_used', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'runs_scored', 'H', '2B', '3B', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'LOB']]

    #Perform pitching clean
    pitching = pd.read_csv(p_file)

    pitching['pitchers_used'] = pitching['#P']
    pitching['runs_allowed'] = pitching['R']
    pitching['hits_allowed'] = pitching['H']
    pitching['hr_allowed'] = pitching['HR']
    pitching['walks_allowed'] = pitching['BB']
    pitching['int_wlk_allowed'] = pitching['IBB']
    pitching['hbp_allowed'] = pitching['HBP']
    pitching['pitch_so'] = pitching['SO']
    pitching['pitch_LOB'] = pitching['LOB']

    del pitching['#P']
    del pitching['R']
    del pitching['H']
    del pitching['HR']
    del pitching['BB']
    del pitching['IBB']
    del pitching['HBP']
    del pitching['SO']
    del pitching['LOB']
    del pitching['G']

    #Merge two df
    merged_data = pd.merge(batting, pitching, how='inner', on='Tm')

    #Perform fielding clean
    fielding = pd.read_csv(f_file)  

    fielding['def_chances'] = fielding['Ch']
    
    del fielding['G']
    del fielding['GS']
    del fielding['CG']
    del fielding['Inn']
    del fielding['Ch']

    #Merge rest
    merged_data = pd.merge(merged_data, fielding, how='inner', on='Tm')

    #Drop second to last row and save
    merged_data.at[32, 'Tm'] = "Totals"
    merged_data = merged_data.drop([31])
    merged_data.to_csv(s_file, index=False)

In [94]:
#Small script to run through files

YEARS = list(range(2012, 2023))

for year in YEARS:
    Process_Stat_Files(year)